header{
	background: #3A5795;
	height:60px;
}


#banner{
	float:left;
	/*margin-left: 60px;*/
}

.middle-section{
	background-color: #EDF0F5;
}

#connect{
	float :left;
	margin-bottom: 20px;
}


#benefits{
	float: left;
}

#benefits p{
	float:none;
	margin-left: 90px;
}

#benefits img{
	display: inline;
}

#benefits p{
	margin-bottom: 20px;
	margin-top: 20px;
}





#signin{
	float:right;
	display: inline;
	background-color: #3A5795;
}

#signup p {
	
}


#userinfo{
	float:right;
}

#gender{
	float:right;
	margin-bottom: 80px;
}

#radio-inline{
	margin-right: 10px;

}



#languages p{
	display: inline;
	margin-left: 20px;
}

#sitelinks p{
	display: inline;
	margin-left: 15px;
}

