header{
	background: #3A5795;
	height:80px;

}

.font-color{
	font-color: #fff;
}

body{
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;

}

#banner{
	margin-top: 6px;
}

#signin{
	margin-top: 11px;
}

#signin input{
	height: 20px;
}

#banner{
	float:left;
	/*margin-left: 60px;*/
}

.middle-section{
	background-color: #EDF0F5;
}

#connect{
	float :left;
	margin-bottom: 20px;
}


#benefits{
	float: left;
}

#benefits p{
	float:none;
	margin-left: 90px;
}

#benefits img{
	display: inline;
}

#benefits p{
	margin-bottom: 20px;
	margin-top: 20px;
}

.birthday{
	margin-left: 16px;
	margin-top: 10px;
}



.dates{
	margin-left: -31px;
}

.month{
	margin-left: 20px;

}

.day{
	margin-left: -60px;
}


.year{
	margin-left: -78px;
}

.gender{
	margin-top: 1px

}




#signin{
	float:right;
	display: inline;
	background-color: #3A5795;
}

#signup p {
	
}


#userinfo{
	float:right;
}



#radio-inline{
	margin-right: 10px;

}

#terms{
	margin-top: 10px;
}

.signup-button button{
	width:159px;
	margin-bottom: 30px;

}


#languages p{
	display: inline;
	margin-left: 20px;
}

.col-md-1 a{
	font-size: 12px;
}

